<div class="row">
    {{ include('components/breadcrumbs.twig', {
    }) }}
</div>
<div class="shadow-sm m-1">
  {{ include('components/table.twig', {
    'title': {
      'text': 'Countries',
      'leftButtons': include('components/button.twig', {'cssClass': 'btn-primary', 'text': 'New Country', 'icon': 'fas fa-plus', 'modal': '#country', }),
    },
    'columns': [
      {'title':'Country Name','type': 'varchar'},
      {'title':'Country Full Name','type': 'varchar'},
      {'title':'Country Code','type': 'varchar'},
      {'title':'Is Active','type': 'active', 'options': ['active','inactive']},
      {'title':'','type': 'activeButton'},
    ],
    'minRowCount': 5,
    'maxRowCount': 15
  }) }}
</div>
<div>
  {{ include('countries/addOrEditCountry.twig') }}
</div>