<div class="row">
  {{ include('components/breadcrumbs.twig', {
    'last':'',
    'this':'Dashboard'
  }) }}
</div>
  {{ include('components/table.twig', {
    'title': {
      'text': 'Items',
      'leftButtons': include('components/button.twig', {'cssClass': 'btn-primary', 'text': 'New Item', 'icon': 'fas fa-plus', 'onclick': 'add_item()', }),
    },
    'columns': [
      {'title':'Default picture','type': 'image'},
      {'title':'Item Name','type': 'varchar'},
      {'title':'Description','type': 'text'},
      {'title':'Vat Level','type': 'int'},
      {'title':'Is Active','type': 'active', 'options': ['active','inactive']},
      {'title':'','type': 'activeButton'},
    ],
    'minRowCount': 5,
    'maxRowCount': 15
  }) }}