<div class="row">
    {{ include('components/breadcrumbs.twig', {
      'last':'',
      'this':'Dashboard'
    }) }}
</div>
<div class="shadow-sm m-1">
  {{ include('components/table.twig', {
    'title': {
      'text': 'Items',
      'leftButtons': include('components/button.twig', {'cssClass': 'btn-primary', 'text': 'New Item', 'icon': 'fas fa-plus', 'modal': '#newItemModal', }),
    },
    'columns': [
      {'title':'Default picture','type': 'image'},
      {'title':'Item Name','type': 'varchar'},
      {'title':'Description','type': 'text'},
      {'title':'Vat Level','type': 'int'},
      {'title':'Is Active','type': 'active', 'options': ['active','inactive']},
      {'title':'','type': 'activeButton'},
    ],
    'minRowCount': 5,
    'maxRowCount': 15
  }) }}

{#   {{ include('window.twig', {
  'title': 'Add Item',
  'header': {
    'left':
      include('components/button.twig', {'type': 'save'})
      ~ include('components/button.twig', {'type': 'delete'})
  },
  'content': include('/warehouse/addOrEditItem.twig')
}) }} #}
</div>